{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{%  static 'favicon.ico'%}" type="image/ico">
    <title>Blood Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="{% static 'favicon.ico' %}" alt="Logo" style="width:40px;">
        <span class="navbar-text">
            Blood Request Management Application
        </span>
    </a>
 </nav>
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <label style="text-align: center">
                Blood Requests
            </label>
        </a>
    </nav>
{{requests}}
    <table border="1">
        <thead>
        <tr>
            <th>Blood Request ID</th>
            <th>Blood Group</th>
            <th>Units Required</th>
            <th>Hospital Name</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{brid}}</td>
                <td>{{bgrp}}</td>
                <td>{{units}}</td>
                <td>{{hname}}</td>
                <td>{{date}}</td>
            </tr>
        </tbody>
    </table>
<footer>Copyright &copy2020</footer>
</body>
</html>